
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        .login-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 300px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(142, 47, 47, 0.2);
            border-radius: 10px;
        }
        
        .login-box-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .form-group {
            margin-bottom: 10px;
        }
        
        .form-group input {
            width: 100%;
            padding: 10px;
        }
        
        .form-group input[type="password"] {
            -webkit-text-security: circle;
        }
